:root{
    --fuenteHeading: 'Amatic SC', sans-serif;
    --fuenteParrafos: 'Quicksand', sans-serif;

    --primario: #784d3c;
    --blanco: #ffffff;
    --negro: #000000;
}


html{
    box-sizing: border-box;
    font-size: 62,5%;
}

body{
    font-size: 1.6rem;
    line-height: 2;
    font-family: var(--fuenteParrafos);
}

h1{
    text-align: center;
   
    width: 20rem; /*1rem *10px*/
    font-size: ;


}
span{
    font-size: 2rem;
}

title{
    align-content: center;
}


.fondo {
    background: url(img/cafe_head.avif) 
    no-repeat center center;
    background-size: cover;
    height: 380px;
    opacity: 0.6;

}

.contenedor{
    text-align: center;
    font-style: oblique;
    font-size: x-large;
    color:azure;
    margin: 0 auto;

    max-width: 120rem;
width: 90%;
margin: 0 auto;
   

}

a{
    text-decoration: none;
}

h2{
    font-family: var(--fuenteHeading);
}

.boton{
    font-size:1.8rem;
    font-family:var(--fuenteHeading);
    font-weight:bold;
    color: var(--blanco);
    background:#000000;
    border:0px;
    display: block;
    padding: 10px 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
    
   }


   .talleres{
    text-align: right;

    display: grid;
  
   }

   .blog{
    text-align: left;
    padding: 1rem;
    display: grid;
    column-gap: 100px;
    row-gap: 10px;
   
   }

   .botoninfo{
    font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#c25309;
    border:0px;
    
   }

   @media(min-width: 768px){
 .navegacion{

gap: 2rem;
text-align: right;
color: var(--blanco);
 }
 
   }
.navegacion__enlace{
 
    text-align: center;
    font-size: 1.8rem;
     color: var(--blanco);
 }
@media (min-width: 768px) {
    .contenido-blog{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
    
}

.footer{
    background-color: var(--negro);
    color: var(--blanco);
   text-align: center;

}